* {
  box-sizing: border-box;
}

 
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url("./img/copy-space-office-black-table-with-laptop-notebook-pencil-and-coffee-cup-with-plat_35674-1635.avif");
    background-size: cover;

    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: #975212;

}

.header-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #975212;

}

.header-arrow {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
    background-color: rgb(2, 2, 2, 0.98); 

  }

  .portfolio-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        }

  .section-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #975212;
  }

  .card {
    margin-bottom: 30px;
    padding: 20px;
    max-width: 540px;
    box-shadow: 0px 10px 40px  rgba(126, 155, 189, 0.35);
     
      }

    .card:last-child,  .card:nth-last-child(2) {
      margin-bottom: 0;
    }

    
  .card-img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
      }

  .card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: rgb(252, 250, 250);
      }

  .card p {
    font-size: 16px;
    line-height: 130%;
    color: #975212; 
    margin: 0;
  }

  .none {
    display: none;
  }

  .footer {
    background-color: #975212;
    padding-top: 45px;
    padding-bottom: 130px;
    color: black;

  }

  .footer-row {
    display: flex;
    justify-content: space-between;
  }

  .footer-copyright {
    line-height: 1.3;
    
  }

  .footer-copyright-name {
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 15px;
  }

  .footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    }

    .footer-icons-icons{
     display: flex;
     align-items: center;

    }

    .footer-icons {
      max-width: 350px;

    }

    .footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
        }

    .footer-icons-icons > * + * {
      margin-left: 15px;
    }

      .footer-button {
      display: inline-block;
      height: 50px;
      border: 3px double black;
      border-radius: 10px;
      color: black;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 11px;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
   
    }

    .footer-button:hover {
      color: #ebee3c;
      box-shadow: inset 0 0 0 3px white;
    }

    .footer-contacts p {
      margin: 15px 0;
      font-size: 16px;
      line-height: 1.3;
    }

    .string_ {
      text-decoration: none;
      color: #975212;
      border: double #975212;
      border-radius: 10px;
      padding-left: 30px;
      padding-right: 30px;
      
    }

    .string_:hover {
      background: rgba(0,0,0,0);
      color: #ebee3c;
      box-shadow: inset 0 0 0 3px white;
    }

   

    @media (max-width: 1140px) {
       .card {
        width:  calc(50% - 15px);
       }
       .footer {
        padding-top: 40px;
        padding-bottom: 60px;
       }

       .footer-row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
       }

       .footer-copyright{
         margin-bottom: 40px;
       }

       .footer-icons-icons {
margin-bottom: 30px;
       }



    }

    @media (max-width: 760px) {
      .header-title {
        font-size: 32px;
      }

      .header-subtitle {
        font-size: 14px;
      }

      .portfolio {
        padding-top: 40px;
        padding-bottom: 60px;
      }

      .section-header {
       font-size: 32px;
       margin-bottom: 30px; 
      }

      .portfolio-card-wrapper {
        justify-content: center;
      }

      .card {
      max-width: 530px;
       width: 100%;
      }
     
      .card:nth-child(2) {
        margin-bottom: 30px;
      }

      .card-img {
        margin-bottom: 10px;
      }

      .card-title {
        font-size: 18px;
        margin-bottom: 10px;
      }

     .card p {
      font-size: 14px;
     }

     .footer-copyright-name {
      font-size: 18px;
      margin-bottom: 5px;
     }

     .footer-copyright p {
      font-size: 14px;
     }

     .footer-icons-icons p {
      font-size: 14px;
     }

     .footer-contacts p {
      font-size: 14px;
      margin-top: 15px;
    }

  }








    
    